<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjJc2Wse7tYmCWF2KUtKQbCJh5hjJ3lzc</string>
	<key>GCM_SENDER_ID</key>
	<string>857804711691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newRothem</string>
	<key>PROJECT_ID</key>
	<string>marble-a2d1a</string>
	<key>STORAGE_BUCKET</key>
	<string>marble-a2d1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857804711691:ios:eda633dae00c5b7cfaa40e</string>
</dict>
</plist>